:root {
    font-family: 'General Sans', sans-serif;
    font-family: 'Chillax', sans-serif;
    
    /* Fonts */
    --font-Chillax: 'Chillax', sans-serif;
    --font-General-Sans: 'General Sans', sans-serif;

    /* Font-Sizes */
    --font-sizes-xs: 16px;
    --font-sizes-sm: 24px;
    --font-sizes-base: 36px;
    --font-sizes-lg: 48px;
    --font-sizes-xl: 56px;
    --font-sizes-2xl: 96px;

    /* Colors */
    --clr-blk: #000000;
    --clr-dkgray: #1E1E1E;
    --clr-gray: #666666;
    --clr-wht: #FFFFFF;
    --clr-ltgray: #BDBDBD;
    --clr-skr: #ED1145;
    --clr-rs: #C8083A;
    --clr-dkred: #1C0108;
    --clr-gld: #DFB150;

    /* Spacing */
    --gap-xs: 0.128em;
    --gap-sm: 0.272em;
    --gap-base: 0.618em;
    --gap-lg: 1em;
    --gap-xl: 1.272em;
    --gap-2xl: 1.618em;
    --gap-3xl: 2.618em;
    --gap-4xl: 4.236em;
    --gap-5xl: 6.854em;

    /* Side-Menu Dimensioning */
    --side-size-sm: ;
    --side-size-base: ; 
    --side-side-lg: 477px;
    --side-size-max: 573px;
}


/* Global Styles */

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
        user-select: none;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    ul {
        list-style: none;
    }

    body {
        background: var(--clr-blk);
        margin: 0;
        line-height: calc(1em + 0.5rem);
        overflow: hidden;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    input:focus {
        outline: none;
    }


/* Utilities */
    .container {
        display: flex;
        position: relative;
        /* border: 1px solid limegreen; */
    }


    
    .main-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    /* Sidemenu */
        .overlay {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

        .toggle-close {
            width: 48px;
            height: 48px;
            padding-left: 24px;
            padding-top: 24px;
        }

        .sidemenu {
            display: flex;
            flex-direction: column;
            background: var(--clr-skr);
            height: 100%;
            width: 471px;
            position: fixed; 
            top: 0; 
            left: 0; 
            transition: transform 0.5s ease-in-out;
            transform: translateX(-100%); 
            z-index: 1000;
        }

        .sidemenu__items {
            display: flex;
            gap: var(--gap-lg);
            align-items: center;
            cursor: pointer;
            font-family: var(--font-General-Sans);
            font-size: var(--font-sizes-base);
            font-weight: 600; 
            color: var(--clr-wht);
            margin-left: 56px;
        }

        .sidemenu__items > img {
            width: 48px;
        }

        .sidemenu__ul > li {
            padding: 16px 0px 16px 0px;
            margin: 10px 10px 10px 10px;
        }

        .sidemenu__ul > li:hover {
            background-color: var(--clr-rs);
            letter-spacing: 0.5px;
        }


    /* Topbar */
        .topbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .toggle-open {
            width: 48px;
            height: 48px;
            padding-left: 24px;
        }

        .topbar__logo-red {
            font-family: var(--font-Chillax);
            font-size: var(--font-sizes-xl);
            font-weight: 600; 
            color: var(--clr-skr);
        }

        .logo {
            display: flex;
            gap: var(--gap-lg);
            align-items: center;
            cursor: pointer;
            padding-left: 56px;
        }

        .topbar__logo-wht {
            font-family: var(--font-Chillax);
            font-size: var(--font-sizes-xl);
            font-weight: 600;
            color: var(--clr-wht);
        }

        .topbar__items {
            display: flex;
            gap: var(--gap-lg);
            align-items: center;
            cursor: pointer;
            font-family: var(--font-General-Sans);
            font-size: var(--font-sizes-sm);
            font-weight: 400; 
            color: var(--clr-gld);
            margin-right: 16px;
        }

        .topbar__items > img{
            width: 48px;
            height: 48px;
        }

    /* Search Bar */
        .searchbar{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            left: 16px;
            width: 381px;
            height: 80px;
            padding-right: 38px;
        }

        .searchbar__form {
            width: 100%;
            height: 100%;
            border-radius: var(--gap-xl);
            position: relative;
            margin-bottom: var(--gap-base);
            background: grey;
        }

        .searchbar__input {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 20px;
            border: none;
            font-family: var(--font-General-Sans);
            font-size: var(--font-sizes-sm);
            font-weight: 400;
            color: var(--clr-wht);
            background-color: var(--clr-dkgray);
            padding-left: 38px;
        }

        .searchbar__input::placeholder {
            color: var(--clr-ltgray);
        }

        .searchbar__btn {
            position: absolute;
            top: 20%;
            right: -16px;
            width: 48px;
            height: 48px;
            background: none;
            border: none;
        }

    /* Categories */
        .categories {
            width: 365px;
            height: 400px;
            overflow-y: auto;
            border-radius: var(--gap-xl);
            background: var(--clr-dkgray);
            margin-top: var(--gap-base); 
            margin-left: var(--gap-lg);
            margin-bottom: var(--gap-base);
            padding: var(--gap-xl);
            border: var(--gap-base) solid var(--clr-dkgray);
            transition: scrollbar-color 0.5s ease, scrollbar-width 0.5s ease;    
        }
        
        .categories__list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        .category-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 317px;
            background: var(--clr-blk);
            margin-bottom: var(--gap-lg);
            padding: var(--gap-base) var(--gap-lg);
            border-radius: var(--gap-base);
        }
        
        .category-item label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-family: var(--font-General-Sans);
            font-weight: 600;
            font-size: var(--font-sizes-sm);
            color: var(--clr-wht);
            padding: var(--gap-base) var(--gap-base) var(--gap-base) var(--gap-base);
        }
        
        .category__text {
            flex-grow: 1;
        }
        
        .category-item input[type="checkbox"] {
            width: var(--gap-2xl);
            height: var(--gap-2xl);
            border: 2px solid var(--clr-wht);
            border-radius: 4px;
            background-color: var(--clr-blk);
            appearance: none;
            position: relative;
            cursor: pointer;
        }
        
        .category-item input[type="checkbox"]::after {
            content: "";
            display: block;
            width: var(--gap-lg);
            height: var(--gap-lg);
            margin: 2px;
            background-color: var(--clr-blk);
            border-radius: 2px;
            transition: background-color 0.4s ease;
        }
        
        .category-item input[type="checkbox"]:checked::after {
            background-color: var(--clr-wht);
        }

        /* Custom Scrollbar */
            .categories::-webkit-scrollbar {
                width: 2px;
            }
            
            .categories::-webkit-scrollbar-track {
                background: var(--clr-dkgray);
                border-radius: 1px;
            }
            
            .categories::-webkit-scrollbar-thumb {
                background: var(--clr-gray);
                border-radius: 1px;
                transition: background-color 0.5s;
            }
            
            .categories::-webkit-scrollbar-thumb:hover {
                background: var(--clr-blk);
            }
            
            .categories.hidden-scrollbar::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
            
            .categories.hidden-scrollbar {
                scrollbar-width: none;
            }
            
            .categories.inactive-scrollbar::-webkit-scrollbar-thumb {
                background: #1E1E1E; 
            }

    /* Carousel */
        .carousel {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 35.125%;

            overflow-x: auto;
            overscroll-behavior-inline: contain;

            width: 3000px;
            margin-left: 8px;
        }

        .card {
            padding: var(--gap-lg) 0 var(--gap-lg) var(--gap-lg);
        }

        .carousel__img {
            inline-size: 100%;
            aspect-ratio: 544px / 818px;
            border-radius: var(--gap-lg);
            object-fit: cover;
        }

        .snaps-inline{
            scroll-snap-type: inline mandatory;
        }
        
        .snaps-inline > * {
            scroll-snap-align: start;
        }

    /* Footer */
        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--font-General-Sans);
            font-size: var(--font-sizes-xs);
            font-weight: 400; 
            color: var(--clr-wht);
            background-color: var(--clr-dkgray);
            border-radius: 16px 16px;
        }