:root {
    font-family: 'General Sans', sans-serif;
    font-family: 'Chillax', sans-serif;
    
    /* Fonts */
    --font-Chillax: 'Chillax', sans-serif;
    --font-General-Sans: 'General Sans', sans-serif;

    /* Font-Sizes */
    --font-sizes-xs: 16px;
    --font-sizes-sm: 24px;
    --font-sizes-base: 36px;
    --font-sizes-lg: 48px;
    --font-sizes-xl: 56px;
    --font-sizes-2xl: 96px;

    /* Colors */
    --clr-blk: #000000;
    --clr-dkgray: #1E1E1E;
    --clr-gray: #666666;
    --clr-wht: #FFFFFF;
    --clr-ltgray: #BDBDBD;
    --clr-skr: #ED1145;
    --clr-rs: #C8083A;
    --clr-dkred: #1C0108;
    --clr-gld: #DFB150;

    /* Spacing */
    --gap-xs: 0.128em;
    --gap-sm: 0.272em;
    --gap-base: 0.618em;
    --gap-lg: 1em;
    --gap-xl: 1.618em;
    --gap-2xl: 2.618em;
    --gap-3xl: 4.236em;
    --gap-4xl: 6.854em;

    /* Side-Menu Dimensioning */
    --side-size-sm: ;
    --side-size-base: ; 
    --side-side-lg: 477px;
    --side-size-max: 573px;
}


/* Global Styles */

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
        user-select: none;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    ul {
        list-style: none;
    }

    body {
        background: var(--clr-blk);
        margin: 0;
        line-height: calc(1em + 0.5rem);
    }

    section {
        display: flex;
        flex-direction: column;
    }

    input:focus {
        outline: none;
    }


/* Utilities */
    .container {
        display: flex;
        position: relative;
        padding-left: 0.5rem;
    }


    /* Sidemenu */
        .overlay {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

        .sidemenu {
            display: flex;
            flex-direction: column;
            background: var(--clr-skr);
            position: fixed; 
            top: 0; 
            left: 0; 
            transition: transform 0.5s ease-in-out;
            transform: translateX(-100%); 
            z-index: 1000;
        }

        .sidemenu__items {
            display: flex;
            gap: var(--gap-lg);
            align-items: center;
            cursor: pointer;
        }

        .sidemenu__ul li:hover {
            background-color: var(--clr-rs);
            letter-spacing: 0.5px;
        }


    /* Topbar */
        .topbar {
            display: flex;
            justify-content: space-between;
        }

        .topbar__logo-red {
            font-family: var(--font-Chillax);
            font-size: var(--font-sizes-xl);
            font-weight: 600; 
            color: var(--clr-skr);
        }

        .logo {
            display: flex;
            gap: var(--gap-lg);
            align-items: center;
            cursor: pointer;
            padding-top: 32px;
            padding-left: 56px;
            padding-bottom: 24px;
        }

        .topbar__logo-wht {
            font-family: var(--font-Chillax);
            font-size: var(--font-sizes-xl);
            font-weight: 600;
            color: var(--clr-wht);
        }

        .topbar__items {
            display: flex;
            gap: var(--gap-lg);
            align-items: center;
            cursor: pointer;
            padding-top: 48px;
            padding-left: 56px;
            padding-bottom: 24px;
            font-family: var(--font-General-Sans);
            font-size: var(--font-sizes-sm);
            font-weight: 400; 
            color: var(--clr-gld);
        }

    /* Search Bar */
        .searchbar{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .searchbar__form {
            width: 381px;
            height: 80px;
            border-radius: 20px;
            position: relative;
            left: 8px;
            bottom: 8px;
            background: grey;
        }

        .searchbar__input {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 20px;
            border: none;
            font-family: var(--font-General-Sans);
            font-size: var(--font-sizes-sm);
            font-weight: 400;
            color: var(--clr-wht);
            background-color: var(--clr-dkgray);
            padding-left: 40px;
        }

        .searchbar__input::placeholder {
            color: var(--clr-ltgray);
        }

        .searchbar__btn {
            position: absolute;
            top: 20%;
            right: -16px;
            width: 48px;
            height: 48px;
            background: none;
            border: none;
        }

    /* Categories */
        .categories {
            width: 365px;
            height: 400px;
            overflow-y: auto;
            margin-top: 8px; 
            margin-left: 16px;
            border-radius: 20px;
            background: var(--clr-dkgray);
            padding: 20px;
            border: 8px solid var(--clr-dkgray);
            transition: scrollbar-color 0.5s ease, scrollbar-width 0.5s ease;    
        }
        
        .categories__list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        .category-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: var(--clr-blk);
            margin-bottom: 16px;
            padding: 10px 20px;
            border-radius: 10px;
        }
        
        .category-item label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-family: var(--font-General-Sans);
            font-weight: 600;
            font-size: var(--font-sizes-sm);
            color: var(--clr-wht);
            padding: 10px 10px 10px 10px;
        }
        
        .category__text {
            flex-grow: 1;
        }
        
        .category-item input[type="checkbox"] {
            width: 24px;
            height: 24px;
            border: 2px solid var(--clr-wht);
            border-radius: 4px;
            background-color: var(--clr-blk);
            appearance: none;
            position: relative;
            cursor: pointer;
        }
        
        .category-item input[type="checkbox"]::after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            margin: 2px;
            background-color: var(--clr-blk);
            border-radius: 2px;
            transition: background-color 0.4s ease;
        }
        
        .category-item input[type="checkbox"]:checked::after {
            background-color: var(--clr-wht);
        }

        /* Custom Scrollbar */
            .categories::-webkit-scrollbar {
                width: 2px;
            }
            
            .categories::-webkit-scrollbar-track {
                background: var(--clr-dkgray);
                border-radius: 1px;
            }
            
            .categories::-webkit-scrollbar-thumb {
                background: var(--clr-gray);
                border-radius: 1px;
                transition: background-color 0.5s;
            }
            
            .categories::-webkit-scrollbar-thumb:hover {
                background: var(--clr-blk);
            }
            
            .categories.hidden-scrollbar::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
            
            .categories.hidden-scrollbar {
                scrollbar-width: none;
            }
            
            .categories.inactive-scrollbar::-webkit-scrollbar-thumb {
                background: #1E1E1E; 
            }


    /* Dimension Constraints */
        /* xs */
            @media (min-width: 475px) {
                .container{
                    max-width: 475px;
                }
            }

        /* s */
            @media (min-width: 640px) {
                .container{
                    max-width: 640px;
                }
            }

        /* md */
            @media (min-width: 768px) {
                .container{
                    max-width: 768px;
                }
            }

        /* Lg */
            @media (min-width: 1024px) {
                .container{
                    max-width: 1024px;
                }

                .section{
                    margin-top: 10rem;
                }
            }

        /* xL */
            @media (min-width: 1280px) {
                .container{
                    max-width: 1280px;
                }
            }

        /* 2xL */
            @media (min-width: 1440px) {
            ul li a {
                letter-spacing: normal;
                transition: 0.3s;
            }
                .container{
                    max-width: 1440px;
                }
                            
                .container .toggle {
                    width: 36px;
                    height: 36px;
                    padding-left: 40px;
                    padding-top: 48px;
                    padding-bottom: 24px;
                }
            
            .png {
                width: 36px;
                height: 36px;
            }

            .sidemenu {
                height: 100%;
                width: var(--side-side-lg);
            }

            .sidemenu__items {
                padding-top: 24px;
                padding-left: 56px;
                padding-bottom: 24px;
                font-family: var(--font-General-Sans);
                font-size: var(--font-sizes-base);
                font-weight: 600; 
                color: var(--clr-wht);
                text-shadow: 1px 1.5px 1px #1C0108;
            }
            }

        /* 3xL */
            @media (min-width: 1536px) {
                .container{
                    max-width: 1536px;
                }
                            
                .container .toggle {
                    width: 48px;
                    height: 48px;
                    padding-left: 40px;
                    padding-top: 48px;
                    padding-bottom: 24px;
                }
            
                .png {
                    width: 48px;
                    height: 48px;
                }

                .sidemenu {
                    height: 100%;
                    width: var(--side-size-max);
                }

                .sidemenu__items {
                    padding-top: 24px;
                    padding-left: 56px;
                    padding-bottom: 24px;
                    font-family: var(--font-General-Sans);
                    font-size: var(--font-sizes-lg);
                    font-weight: 600; 
                    color: var(--clr-wht);
                    text-shadow: 1px 1.5px 1px #1C0108;
                }
        }

        /* Max */
            @media (min-width: 1920px) {
                .container{
                    max-width: 1920px;
                }
            
                    .container .toggle {
                        width: 48px;
                        height: 48px;
                        padding-left: 40px;
                        padding-top: 48px;
                        padding-bottom: 24px;
                    }
                
                .png {
                    width: 48px;
                    height: 48px;
                }

                .sidemenu {
                    height: 100%;
                    width: var(--side-size-max);
                }

                .sidemenu__items {
                    padding-top: 24px;
                    padding-left: 56px;
                    padding-bottom: 24px;
                    font-family: var(--font-General-Sans);
                    font-size: var(--font-sizes-lg);
                    font-weight: 600; 
                    color: var(--clr-wht);
                    text-shadow: 1px 1.5px 1px #1C0108;
                }
            }