@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'General Sans', sans-serif;
    font-family: 'Chillax', sans-serif;
    
    /* Fonts */
    --font-Chillax: 'Chillax', sans-serif;
    --font-General-Sans: 'General Sans', sans-serif;

    /* Font-Sizes */
    --font-sizes-xs: 16px;
    --font-sizes-sm: 24px;
    --font-sizes-base: 36px;
    --font-sizes-lg: 48px;
    --font-sizes-xl: 56px;
    --font-sizes-2xl: 96px;

    /* Colors */
    --clr-blk: #000000;
    --clr-dkgray: #1E1E1E;
    --clr-gray: #666666;
    --clr-wht: #FFFFFF;
    --clr-ltgray: #BDBDBD;
    --clr-skr: #ED1145;
    --clr-rs: #C8083A;
    --clr-dkred: #1C0108;
    --clr-gld: #DFB150;

    /* Spacing */
    --gap-xs: 0.128em;
    --gap-sm: 0.272em;
    --gap-base: 0.618em;
    --gap-lg: 1em;
    --gap-xl: 1.618em;
    --gap-2xl: 2.618em;
    --gap-3xl: 4.236em;
    --gap-4xl: 6.854em;

    /* Dimensioning */
    --size-xxm: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

/* Presets */
    /* Bold Fonts */
    .title-wht-bld {
        font-family: var(--font-Chillax);
        font-size: var(--font-sizes-2xl);
        font-weight: 600; /* Bold */
        color: var(--clr-blk);
    }

    .title-red-bld {
        font-family: var(--font-Chillax);
        font-size: var(--font-sizes-2xl);
        font-weight: 600; /* Bold */
        color: var(--clr-skr);
    }

    .headings-wht-bld {
        font-family: var(--font-Chillax);
        font-size: var(--font-sizes-xl);
        font-weight: 600; /* Bold */
        color: var(--clr-wht);
    }

    .headings-red-bld {
        font-family: var(--font-Chillax);
        font-size: var(--font-sizes-xl);
        font-weight: 600; /* Bold */
        color: var(--clr-skr);
    }

    .subheadings-wht-bld {
        font-family: var(--font-General-Sans);
        font-size: var(--font-sizes-lg);
        font-weight: 600; /* Bold */
        color: var(--clr-wht);
    }

    .sublabels-wht-bld {
        font-family: var(--font-General-Sans);
        font-size: var(--font-sizes-sm);
        font-weight: 600; /* Bold */
        color: var(--clr-wht);
    }

    .paragraph-wht-bld {
        font-family: var(--font-General-Sans);
        font-size: var(--font-sizes-xs);
        font-weight: 600; /* Bold */
        color: var(--clr-wht);
    }

    /* Regular Fonts */
    .subheadings-wht-reg {
        font-family: var(--font-General-Sans);
        font-size: var(--font-sizes-lg);
        font-weight: 400; /* Regular */
        color: var(--clr-wht);
    }

    .labels-ltgray-reg {
        font-family: var(--font-General-Sans);
        font-size: var(--font-sizes-base);
        font-weight: 400; /* Regular */
        color: var(--clr-ltgray);
    }

    .sublabels-wht-reg {
        font-family: var(--font-General-Sans);
        font-size: var(--font-sizes-sm);
        font-weight: 400; /* Regular */
        color: var(--clr-wht);
    }

    .paragraph-wht-reg {
        font-family: var(--font-General-Sans);
        font-size: var(--font-sizes-xs);
        font-weight: 400; /* Regular */
        color: var(--clr-wht);
    }


/* Components */
* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

body {
    background: var(--clr-dkgray);
}


/* Utilities */
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .section{
        margin-top: 5rem;
    }

    /* Dimension Constraints */
        /* xs */
        @media (min-width: 475px) {
            .container{
                max-width: 475px;
            }
        }

        /* s */
        @media (min-width: 640px) {
            .container{
                max-width: 640px;
            }
        }

        /* md */
        @media (min-width: 768px) {
            .container{
                max-width: 768px;
            }
        }

        /* Lg */
        @media (min-width: 1024px) {
            .container{
                max-width: 1024px;
            }

            .section{
                margin-top: 10rem;
            }
        }

        /* xL */
        @media (min-width: 1280px) {
            .container{
                max-width: 1280px;
            }
        }

        /* 2xL */
        @media (min-width: 1536px) {
            .container{
                max-width: 1536px;
            }
        }